footer.site-footer
    .container
        .row
            .col-md-2
                .widget
                    h3.widget-title About Us
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia
                        | nesciunt saepe cupiditate
            .col-md-2
                .widget
                    h3.widget-title Recent Review
                    ul.no-bullet
                        li
                            a(href='#') Lorem ipsum dolor
                        li
                            a(href='#') Sit amet consecture
                        li
                            a(href='#') Dolorem respequem
                        li
                            a(href='#') Invenore veritae
            .col-md-2
                .widget
                    h3.widget-title Help Center
                    ul.no-bullet
                        li
                            a(href='#') Lorem ipsum dolor
                        li
                            a(href='#') Sit amet consecture
                        li
                            a(href='#') Dolorem respequem
                        li
                            a(href='#') Invenore veritae
            .col-md-2
                .widget
                    h3.widget-title Join Us
                    ul.no-bullet
                        li
                            a(href='#') Lorem ipsum dolor
                        li
                            a(href='#') Sit amet consecture
                        li
                            a(href='#') Dolorem respequem
                        li
                            a(href='#') Invenore veritae
            .col-md-2
                .widget
                    h3.widget-title Social Media
                    ul.no-bullet
                        li
                            a(href='#') Facebook
                        li
                            a(href='#') Twitter
                        li
                            a(href='#') Google+
                        li
                            a(href='#') Pinterest
            .col-md-2
                .widget
                    h3.widget-title Newsletter
                    form.subscribe-form(action='#')
                        input(type='text' placeholder='Email Address')
        // .row
        .colophon Copyright 2014 Company name, Designed by Themezy. All rights reserved
    // .container
// Default snippet for navigation