header.site-header
  .container
    a#branding(href='/')
      img.logo(src='images/logo.png' alt='')
      .logo-copy
        h1.site-title Cine plus +
        small.site-description Tagline goes here
    // #branding
    .main-navigation
      button.menu-toggle(type='button')
        i.fa.fa-bars
      ul.menu
        li.menu-item.current-menu-item
          a(href='/')
            img(src='images/home.png' width='24' height='24')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Trang ch&#x1EE7;
        li.menu-item
          a(href='/gioithieu/loadPage')
            img(src='images/speech.png' width='24' height='24')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Gi&#x1EDB;i thi&#x1EC7;u
        li.menu-item(style="margin-right: 20px; margin-left:20px")
          .row
            a(href='/cinema/getCinema')
              img(src='images/cinema.png' alt='' srcset='' width='24' height='24')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;R&#x1EA1;p chi&#x1EBF;u
        li.menu-item(style="margin-right: 20px; margin-left:19px;")
          .row
            a(id="loadticker",href='/ticker/yourticker')
              img(src='https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/icon_ticket25.png' alt='' srcset='' width='24' height='24')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;V&eacute; c&#x1EE7;a t&ocirc;i
        li.menu-item
          a(href='contact.html')
            img(src='images/information.png' width='24' height='24')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Li&ecirc;n h&#x1EC7;
        li.menu-item
          a(href='contact.html')
            img(src='images/newspaper.png' width='24' height='24')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Tin t&#x1EE9;c
        li.menu-item(id="login")
          a(id="tk",href='/login/getpage')
            img(src='https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/icon_login25.png' width='24' height='24')
            
        
      // .menu
      // .main-navigation
      .mobile-navigation


